
{% extends 'bases.html' %}

{% block content %}

<div class="technology-left ">
		<div class="tech-no">
			<!-- technology-top -->
			
			 <div class="tc-ch wow fadeInDown animated" data-wow-duration=".8s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInDown;">
				
					<div class="tch-img">
						<a href="singlepage.html"><img src="{{ post.photo.url }}" class="img-responsive" alt=""></a>
					</div>
					
					<h3><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h3>
					<h6>prepare:{{post.prep_time}}  | cooks:{{post.cooking_time}} </h6>
						{{post.ingridients}}
					{{post.cooking_instaructions|safe}}

						<div class="bht1">
							<a href="{% url 'post_detail' pk=post.pk %}"> Next</a>
						</div>
						<div class="soci">
							<ul>
								<li class="hvr-rectangle-out"><a class="fb" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.creativesmakhado.co.za/{% url 'post_detail' pk=post.pk %}"></a></li>
								<li class="hvr-rectangle-out"><a class="twit" href="https://twitter.com/home?status={{ post.title }}%20http://www.creativesmakhado.co.za{% url 'post_detail' pk=post.pk %}"></a></li>
								<li class="hvr-rectangle-out"><a class="goog" href="https://plus.google.com/share?url=https://www.creativesmakhado.co.za{% url 'post_detail' pk=post.pk %}""></a></li>
								<li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
								<li class="hvr-rectangle-out"><a class="drib" href="#"></a></li>
							</ul>
						</div>
						<div class="clearfix"></div>
			</div>
		</div></div>

		
{% endblock %}
